body {
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.year-cards {
  /*display: grid;*/
  /*grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));*/
  /*grid-gap: 10px;*/
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.code {
  word-wrap: break-word;
}